{% extends 'base.html' %}

{% block conteudo %}
<div class="pai">
    <div class="login">
        <h1>LOGIN</h1>

        <form id="form-login" class="card_login" action="{{url_for('login')}}" method="post">
            Email:
            <input id="input-email" type="text" placeholder="Digite o Email" name="form_email" class="form-control"><br>
            Senha:
            <input id="input-senha" type="password" placeholder="Digite a Senha" name="form_senha" class="form-control"
                   required><br>
            <button type="submit" class="btn btn-info w-100">Entrar</button>
            <a class="btn btn-danger w-100 " onclick="LimpaInputLogin()">Cancelar</a>
            <br>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Não tem conta?Registre-se agora
            </button>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form-cadastro" class="card_login" action="{{ url_for('cadastro_funcionario') }}"
                          method="post">
                        <div class="card_login">
                            <h1>CADASTRO</h1>

                            Nome:
                            <input id="input-nome" type="text" placeholder="Digite seu nome" name="form_nome"
                                   class="form-control"><br>
                            data de nascimeto:
                            <input id="input-data" type="date" placeholder="Digite a Senha" name="form_data"
                                   class="form-control"
                                   required><br>
                            CPF:
                            <input id="input-cpf" type="number" placeholder="Digite a Senha" name="form_cpf"
                                   class="form-control"
                                   required><br>
                            Email:
                            <input  id="input-email1" type="text" placeholder="Digite o Email" name="form_email"
                                   class="form-control"><br>
                            Senha:
                            <input id="input-senha2" type="password" placeholder="Digite a Senha" name="form_senha"
                                   class="form-control"
                                   required><br>
                            cargo:
                            <input id="input-cargo" type="text" placeholder="Digite a Senha" name="form_cargo"
                                   class="form-control"
                                   required><br>
                            Salario:
                            <input id="input-salario" type="number" placeholder="Digite a Senha" name="form_salario"
                                   class="form-control"
                                   required><br>
                            <button type="submit" class="btn btn-info">Cadastrar</button>
                            <a class="btn btn-danger w-100 " onclick="LimpaInputCadastro()">Cancelar</a>
                            <br>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/static/js/verificacoes.js"></script>
{% endblock conteudo %}